name: CD

on:
    push:
      branches: [ "main" ]
    pull_request:
      branches: [ "main" ]
    workflow_dispatch:
        inputs:
          ref:
            description: 'The branch, tag, or SHA to run the workflow on'
            required: true
            default: 'main'

jobs:
    build-debug-android:
        runs-on: ubuntu-latest
    
        steps:
        - name: Checkout Repository
          uses: actions/checkout@v4
    
        - name: Setup Flutter
          uses: subosito/flutter-action@v2
          with:
            flutter-version: 3.38.5
    
        - name: Get Dependencies
          run: flutter pub get
    
        - name: Run build_runner
          run: flutter pub run build_runner build --delete-conflicting-outputs
    
        - name: Setup Java
          uses: actions/setup-java@v4
          with:
            distribution: "temurin"
            java-version: "17"

        - name: Decode Keystore
          run: |
            echo "${{ secrets.ANDROID_KEYSTORE_BASE64 }}" | base64 -d > android/app/upload-keystore.jks
          env:
            ANDROID_KEYSTORE_BASE64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
    
        - name: Configure Android Keystore
          run: echo "${{ secrets.ANDROID_KEYSTORE_PROPERTIES }}" > android/key.properties
    
        - name: Build APK
          run: flutter build apk --debug
    
        - name: Upload debug APK
          uses: actions/upload-artifact@v4
          with:
            name: apk-debug
            path: build/app/outputs/flutter-apk/app-debug.apk

    build-debug-ios:
        runs-on: macos-latest
    
        steps:
        - name: Checkout Repository
          uses: actions/checkout@v4
    
        - name: Setup Flutter
          uses: subosito/flutter-action@v2
          with:
            flutter-version: 3.38.5
    
        - name: Get Dependencies
          run: flutter pub get
    
        - name: Run build_runner
          run: flutter pub run build_runner build --delete-conflicting-outputs
    
        - name: Build iOS
          run: |
            flutter build ios --debug --no-codesign
            cd build/ios/iphoneos
            mkdir Payload
            cd Payload
            ln -s ../Runner.app
            cd ..
            zip -r debug.ipa Payload
    
        - name: Upload debug iOS
          uses: actions/upload-artifact@v4
          with:
            name: ipa-debug
            path:  build/ios/iphoneos/debug.ipa
